#container{
    width: 1349px;
    height: 3114px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
#header{
    height: 120px;
    background: #fff;
    position: fixed;
}
#content{
    width: 1349px;
    height: 2670px;
    margin-top: 120px;
}
/*�����������*/
#content>div{
    float: left;
}
#leftContent{
    width: 372px;
    height: 589px;
    position: fixed;
    top: 100px;
}
#leftContent>div{
    width: 287px;
    height: 544px;
    margin-top: 22px;
    margin-left: 32px;
}
#leftContent>div h3{
    text-align: left;
    font-family: "Microsoft yahei";
    font-weight: 100;
    font-size: 24px;
    color:#2b2d2b;
}
#leftContent>div hr{
    height: 1px;
    width: 287px;
    background-color: #bababa;
    margin-top: 23px;
    border: none;
}
#buy{
    width: 285px;
    height: 34px;
    border: 1px solid #c8a985;
    margin-top: 10px;
}
#buy>p{
    width: 142px;
    height: 34px;
    text-align: center;
    font-size: 20px;
    line-height: 34px;
    color: #c8a985;
    float: left;
}
#buy>input{
    width: 143px;
    height: 34px;
    font-size: 16px;
    font-family: "Microsoft yahei";
    color: #fefefe;
    outline: none;
    border: none;
    background: #c8a985;
    cursor: pointer;
}
#add{
    width: 223px;
    height: 38px;
    margin-top: 15px;
}
#add+span{
    font-family: "fontPicture1";
    position: relative;
    top: -30px;
    left: 5px;
    color: #a5a5aa;
    font-size: 14px;
}
#add>input{
    border: 1px solid #a5a5aa;
    font-size: 16px;
    background-color: transparent;
    font-family: "Microsoft yahei";
    color: #a5a5aa;
    float: left;
    cursor: pointer;
}
#collect{
    width: 64px;
    height: 36px;

}
#buyCart{
    width: 146px;
    height: 36px;
    margin-left: 12px;
}
#leftContent>div hr:nth-of-type(2){
    margin-top: 10px;
}
/*��ϸ����*/
#detailS{
    width: 278px;
    height: 362px;
    margin-top: 14px;
}
#detailS>li>span{
    font-family: "fontPicture1";
    font-size: 18px;
    font-weight: bolder;
}
#detailS>li{
    text-align: left;
    font-size: 16px;
    font-family: "Microsoft yahei";
}
#detailS>li:nth-of-type(1){
    color: #202120;
    cursor: pointer;
    margin-top: 2px;
}
#detailS>li:nth-of-type(1)~li{
    color: #424442;
}
#detailS>li:nth-of-type(2){
    margin-top: 20px;
}
#detailS>li:nth-of-type(3){
    margin-top: 21px;
}
#detailS>li:nth-of-type(3)~li{
    margin-top: 11px;
}
#spanF{
    font-size: 12px;
    font-weight: 100;
    color: #202120;
    font-weight: bolder;
    /*-webkit-transition: all 1s linear;*/
}
#spanX{
    font-size: 16px;
    font-weight: 100;
    color: #202120;
    font-family: "Microsoft yahei";
    margin-top: -222px;
    margin-left: 6px;
    /*-webkit-transition: all 1s linear;*/
}
/*Ů��ϸ�ڽ���*/
#rightContent{
    width: 977px;
    height: 2670px;
    overflow: hidden;
    background: url("../images/detailBG.jpg");
    margin-left: 372px;
    /*position: relative;*/
    /*left: 372px;*/
}
/*#rightContent>div:nth-of-type(1){*/
    /*width: 977px;*/
    /*height: 2670px;*/
    /*background: url("../images/detailBG.jpg");*/
    /*position: fixed;*/
/*}*/
/*#topBag{*/
    /*position: absolute;*/
/*}*/
#topBag,#topBag>ul{
    width: 977px;
    height: 2670px;
}
#topBag>ul>li{
    width: 977px;
}
#topBag>ul>li:nth-of-type(1){
    height: 482px;
}
#topBag>ul>li>div:nth-of-type(1){
    margin-top: 132px;
}
#topBag>ul>li>div:nth-of-type(2){
    background: rgba(255, 255, 255, 0.5);
    font-size:18px;
    color: #3a3a3a;
    font-family: "Microsoft yahei";
    line-height: 28px;
}
#topBag>ul>li:nth-of-type(1)>div:nth-of-type(1){
    width: 265px;
    height: 269px;
    margin-left: auto;
    margin-right: auto;
}
#topBag>ul>li:nth-of-type(1)>div:nth-of-type(2){
    width: 544px;
    height: 162px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}
#topBag>ul>li:nth-of-type(2){
    height: 440px;
}
#topBag>ul>li:nth-of-type(1)~li>div{
    float: left;
}
#topBag>ul>li:nth-of-type(2)>div:nth-of-type(1){
    width: 263px;
    height: 308px;
    margin-left: 356px;
}
#topBag>ul>li:nth-of-type(2)>div:nth-of-type(2){
    width: 288px;
    height: 114px;
    margin-top: 280px;
    margin-left: 35px;
}
#topBag>ul>li:nth-of-type(3){
    height: 405px;
    margin-top: 162px;
}
#topBag>ul>li:nth-of-type(3)>div:nth-of-type(2){
    width: 266px;
    height: 275px;
    margin-left: 35px;
    background-color: transparent;
}
#topBag>ul>li:nth-of-type(3)>div:nth-of-type(1){
    width: 332px;
    background: rgba(255, 255, 255, 0.5);
    margin-left: 0px;
    font-size:18px;
    color: #3a3a3a;
    font-family: "Microsoft yahei";
    line-height: 28px;
}
#topBag>ul>li:nth-of-type(4){
    height: 495px;
    /*margin-top: 132px;*/
}
#topBag>ul>li:nth-of-type(4)>div:nth-of-type(1){
    width: 174px;
    height: 367px;
    margin-left: 424px;
    margin-top: 45px;
}
#topBag>ul>li:nth-of-type(4)>div:nth-of-type(2){
    margin-top: 238px;
    margin-left: 40px;
}
#topBag>ul>li:nth-of-type(5){
    margin-top: 132px;
    height: 461px;
}
#topBag>ul>li:nth-of-type(5)>div:nth-of-type(1){
    width: 300px;
    height: 332px;
    margin-left: 380px;
    margin-top: 0px;
}
#topBag>ul>li:nth-of-type(5)>div:nth-of-type(2){
    width: 242px;
    height: 48px;
    margin-top: 160px;
    margin-left: 20px;
}
#topBag>ul>li>div>p{
    text-align: center;
}

/*����JS��Ч*/
.detailS{
    width: 278px;
    height: 21px;
    margin-top: 14px;
    overflow: hidden;
    /*-webkit-transition:width,height,margin-top,overflow 0.5s linear;*/
}
.detailB{
    width: 278px;
    height: 362px;
    margin-top: 14px;
    /*-webkit-transition:width,height,margin-top 0.5s linear;*/

}
.detailS>li:nth-of-type(1){
    margin-top: 0px;
    text-align: left;
    font-size: 16px;
    font-family: "Microsoft yahei";
    cursor: pointer;
    /*-webkit-transition:margin-top 0.5s linear;*/
}
.detailS>li>span{
    font-family: "fontPicture1";
    font-size: 16px;
    font-weight: bolder;
    /*-webkit-transition:all 0.5s linear;*/
}
#footer{
    background: #fff;
}
.userHead{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    vertical-align: middle;
}