<div id="footer">
    <hr/>
    <!-- 购买细节-->
    <div id="service">
        <ul id="serDet">
            <li><h4>服务保障</h4>
                <p><a href="#">品牌真品防伪码</a></p>
                <p><a href="#">正品保证</a></p>
                <p><a href="#">30天无条件退货</a></p>
                <p><a href="#">7×24小时客服服务</a></p>
            </li>
            <li>
                <h4>使用帮助</h4>
                <p><a href="#">新手指南</a></p>
                <p><a href="#">常见问题</a></p>
                <p><a href="#">帮助中心</a></p>
                <p><a href="#">用户协议</a></p>
                <p><a href="#">企业用户团购</a></p>
            </li>
            <li>
                <h4>支付方式</h4>
                <p><a href="#">货到付款</a></p>
                <p><a href="#">在线支付</a></p>
                <p><a href="#">余额支付</a></p>
                <p><a href="#">现金券支付</a></p>
            </li>
            <li>
                <h4>配送方式</h4>
                <p><a href="#">包邮政策</a></p>
                <p><a href="#">配送说明</a></p>
                <p><a href="#">运费说明</a></p>
                <p><a href="#">验货签收</a></p>
            </li>
            <li>
                <h4>售后服务</h4>
                <p><a href="#">正品承诺</a></p>
                <p><a href="#">售后咨询</a></p>
                <p><a href="#">退货政策</a></p>
                <p><a href="#">退货办理</a></p>
            </li>
        </ul>
        <ul id="appE">
            <li><div id="phoneA"><img src="images/photoApp.jpg" alt=""/></div><p>下载手机客户端</p></li>
            <li><div id="weiA"><img src="images/weiApp.jpg" alt=""/></div><p>LITTLE BAG官方微信</p></li>
        </ul>
    </div>
    <!--版权-->
    <div id="copyright">
        <p>COPYRIGHT © 2010-2015 北京创锐文化传媒有限公司 LITTLEBAG.COM 保留一切权利。 客服热线：400-123-8888</p>
    </div>
    <div id="backUp">&#xe62b;</div>
</div>