<div id="header">
    <!-- 辅助导航-->
    <div id="barTop">
        <div>
            <div id="wel"><p>welcome to little bag!</p></div>
            <div id="rightL">
                <div id="user">
                    <%if(user){%>
                    <img class="userHead" src="<%=headImage %>">
                    <span><%=user %></span>
                    <%}else{%>
                    <span onclick=login()>请登录</span>
                    <span>|</span>
                    <span onclick=zhuce()>快速注册</span>
                    <% }%>

                </div>
                <div id="cart">
                    <span><a href="cart.html">购物车</a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- 导航条-->
    <ul id="nav">
        <li><a href="index.html">首页</a></li>
        <li><a href="#">本季新品</a></li>
        <li><a href="index.html"><img src="images/logo.jpg" alt="这是本网站的Logo"/></a></li>
        <li><a href="#">经典系列</a></li>
        <li><a href="#">关于我们</a></li>
    </ul>
</div>