<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/remenliebiao.css"/>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
<!--段雨薇首页整体页面布局 HTML+CSS-->
<div id="container">
    <!-- 头部-->
    <div id="header">
        <!-- 辅助导航-->
        <div id="barTop">
            <div>
                <div id="wel"><p>welcome to little bag!</p></div>
                <div id="rightL">
                    <div id="user">

                            <span onclick=login()>请登录</span>
                            <span>|</span>
                            <span onclick=zhuce()>快速注册</span>

                        
                    </div>
                    <div id="cart">
                        <span>购物车</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 导航条-->
        <ul id="nav">
            <li><a href="index.html">首页</a></li>
            <li><a href="#">本季新品</a></li>
            <li><a href="index.html"><img src="images/logo.jpg" alt="这是本网站的Logo"/></a></li>
            <li><a href="#">经典系列</a></li>
            <li><a href="#">关于我们</a></li>
        </ul>
    </div>
    <!-- 内容部分-->
    <div id="content">
        <!-- banner王波轮播-->
        <div id="banner">
            <div id="conten">
                <div id="leftBox"></div>
                <div id="righBox"></div>
                <div id="contenttext"></div>
                <div id="div4">
                    <input type="button" value="" onclick="moveImg(0,true)"/>
                    <input type="button" value="" onclick="moveImg(1,true)"/>
                    <input type="button" value="" onclick="moveImg(2,true)"/>
                </div>
            </div>
        </div>
        <!-- 轮播结束-->
        <h2>autumn&nbsp;/&nbsp;winter&ensp;2016</h2>
        <p>热门新品</p>
        <!-- 热门新品-->
        <ul id="newList">
            <!-- 王帅哥做的动效 div1 div2 是王帅哥加的-->
            <li class="div1">
                <img src="images/hNew1.jpg" alt="这是热门新品页面"/>
                <div class="div2">
                    <h3>CNTIGONA手袋</h3>
                    <p>采用水晶镶嵌工艺<br/>
                        对经典造型进行全新时尚演绎<br/>
                        打造不一样的奢华体验。</p>
                </div>
            </li>
            <li class="div1">
                <img src="images/hNew2.jpg" alt="这是热门新品页面"/>
                <div class="div2">
                    <h3>浅金EPI手袋</h3>
                    <p>这款采用 EPI 皮革<br/>
                        对经典造型进行全新时尚演绎<br/>
                        拥有艳丽，明快的色彩。</p>
                </div>
            </li>
            <li class="div1">
                <img src="images/hNew3.jpg" alt="这是热门新品页面"/>
                <div class="div2">
                    <h3>KOOIGNA手袋</h3>
                    <p>这款采用 EPI 皮革<br/>
                        主打时尚简约风<br/>
                        黑白条纹彰显大气。</p>
                </div>
            </li>
            <li class="div1">
                <img src="images/hNew4.jpg" alt="这是热门新品页面"/>
                <div class="div2">
                    <h3>裸粉CMI手袋</h3>
                    <p>这款采用CMI皮革<br/>
                        打造名媛淑女范儿<br/>
                        甜美清晰大容量。</p>
                </div>
            </li>
            <!-- 王帅哥动效完了-->
        </ul>
        <!-- 经典部分-->
        <!-- 王帅哥的特效部分-->
        <div id="containe"></div>
        <!-- 特效结束-->
        <ul id="fList">
            <li>
                <ul id="upList">
                    <li>
                        <div><img src="images/hFove1.jpg"   id="upListOne" alt="这是永恒经典页面"/></div>
                        <p>caissa-hobo-手袋，黑色N41556</p>
                    </li>
                    <li>
                        <div><img src="images/hFover2.jpg" id="upListTwo" alt="这是永恒经典页面"/></div>
                        <p>ANTIGONA手袋，裸色粒面皮革</p>
                    </li>
                    <li>
                        <div><img src="images/hFover3.jpg" id="upListThree" alt="这是永恒经典页面"/></div>
                        <p>PANDORA硬壳包，浅金色蛇皮</p>
                    </li>
                </ul>
            </li>
            <li>
                <ul id="downList">
                    <li>
                        <div><img src="images/hFover4.jpg" id="downListOne" alt="这是永恒经典页面"/></div>
                        <p>Michael Kors MK迷你笑脸包</p>
                    </li>
                    <li>
                        <div><img src="images/hFover5.jpg"  id="downListTwo" alt="这是永恒经典页面"/></div>
                        <p>PANDORA香风包，浅金牛皮</p>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- 首页关于我们-->
        <div id="aboutU">
            <img src="images/hAbout.jpg" alt="这是关于我们的引导页"/>
            <p>品质传承&ensp;&ensp;始终如一</p>
            <p><a href="#">About&ensp;little&ensp;bag&ensp;&gt;&gt;</a></p>
        </div>
        <div id="aboutDet">
            <div><img src="images/hM1976.jpg" alt="这是首页关于我们的图片"/></div>
            <div>
                <h3>始于1976<br/>
                    只为臻献非凡</h3>
                <p>LITTLEBAG品牌重整全球渠道，<br/>
                    即将开创新纪元。<br/>
                    <br/>
                    设计师们瞄准全球职业女性，<br/>
                    使产品变得更加现代 、<br/>
                    年轻并更富时代感。<br/>
                    <br/>
                    1976年立足于世界时尚中心，<br/>
                    进入了一个动态增长的时代。</p>
            </div>
        </div>
    </div>
    <div id="footer">
        <hr/>
        <!-- 购买细节-->
        <div id="service">
            <ul id="serDet">
                <li><h4>服务保障</h4>
                    <p><a href="#">品牌真品防伪码</a></p>
                    <p><a href="#">正品保证</a></p>
                    <p><a href="#">30天无条件退货</a></p>
                    <p><a href="#">7×24小时客服服务</a></p>
                </li>
                <li>
                    <h4>使用帮助</h4>
                    <p><a href="#">新手指南</a></p>
                    <p><a href="#">常见问题</a></p>
                    <p><a href="#">帮助中心</a></p>
                    <p><a href="#">用户协议</a></p>
                    <p><a href="#">企业用户团购</a></p>
                </li>
                <li>
                    <h4>支付方式</h4>
                    <p><a href="#">货到付款</a></p>
                    <p><a href="#">在线支付</a></p>
                    <p><a href="#">余额支付</a></p>
                    <p><a href="#">现金券支付</a></p>
                </li>
                <li>
                    <h4>配送方式</h4>
                    <p><a href="#">包邮政策</a></p>
                    <p><a href="#">配送说明</a></p>
                    <p><a href="#">运费说明</a></p>
                    <p><a href="#">验货签收</a></p>
                </li>
                <li>
                    <h4>售后服务</h4>
                    <p><a href="#">正品承诺</a></p>
                    <p><a href="#">售后咨询</a></p>
                    <p><a href="#">退货政策</a></p>
                    <p><a href="#">退货办理</a></p>
                </li>
            </ul>
            <ul id="appE">
                <li><div id="phoneA"><img src="images/photoApp.jpg" alt=""/></div><p>下载手机客户端</p></li>
                <li><div id="weiA"><img src="images/weiApp.jpg" alt=""/></div><p>LITTLE BAG官方微信</p></li>
            </ul>
        </div>
        <!--版权-->
        <div id="copyright">
            <p>COPYRIGHT © 2010-2015 北京创锐文化传媒有限公司 LITTLEBAG.COM 保留一切权利。 客服热线：400-123-8888</p>
        </div>
        <div id="backUp">&#xe62b;</div>
    </div>
    <!------------------------登录注册-宋玉婷----------------->
    <div id="Box">
        <!--登录-->
        <!--<form action="#" method="get">-->
            <div id="loginBox">
                <form id="LoginForm">
                <img src="images/loginimg/logo1.jpg" class="logo1">
                <img src="images/loginimg/guanbi.jpg" class="close" onclick=close1();>
                <p class="txt1">登录</p>
                <p class="switch" onclick=switchZhuce();>切换注册</p>
                <p>
                    <input type="text" name="user" id="loginUser" placeholder="&nbsp; 请输入用户名或邮箱">
                    <img src="images/loginimg/user.jpg" class="pic1"><span class="red">*</span>
                </p>
                <p>
                    <input type="password" name="password" id="loginPwd" placeholder="&nbsp; 请输入密码">
                    <img src="images/loginimg/pass.jpg" class="pic2"><span class="red">*</span>
                </p>
                <p>
                    <input type="checkbox" checked="checked" id="check"><p class="rember">记住我</p>
                    </p>
                <p class="forget">忘记密码？</p>
                <p>
                    <input type="button" value="登录" name="loginBtn" id="loginBtn">
                </p>
                </form>
            </div>
        <!--</form>-->

        <div id="zhuceBox">
            <form id="regform">

            <img src="images/loginimg/logo1.jpg" class="logo1">
            <img src="images/loginimg/guanbi.jpg" class="close" onclick=close1();>
            <p class="txt1">注册</p>
            <p class="switch" onclick=switchLogin();>切换登录</p>
            <input type="text" name="Email" id="Email" placeholder="&nbsp; 请输入常用邮箱"><span class="red">*</span>
            <img src="images/loginimg/mail.jpg" class="pic1">
            <input type="text" name="user" id="zhuceUser" placeholder="&nbsp; 请设置用户名"><span class="red">*</span>
            <img src="images/loginimg/user.jpg" class="pic2">
            <input type="password" name="zhucePwd" id="zhucePwd" placeholder="&nbsp; 请设置密码">
            <img src="images/loginimg/pass.jpg" class="pic3">
            <input type="password" name="resPwd" id="resPwd" placeholder="&nbsp; 请再次输入密码">
            <img src="images/loginimg/repass.png" class="pic4">
            <input type="button" value="注册" name="zhuceBtn" id="zhuceBtn">
            </form>
        </div>
    </div>
</div>
<script src="js/jquery.3.4.0.js"></script>
<script src="layui/layui.all.js"></script>
<script type="text/javascript" src="js/javascript.js"></script>
<script src="js/delaunay.js"></script>
<script type="text/javascript" src="js/TweenMax.js"></script>
<script type="text/javascript" src="js/boli.js"></script>
<script src="js/lunbo.js"></script>
<script src="js/yonghengjingdian.js"></script>
<script src="js/login.js"></script>
</body>
</html>